h1, ul, h4, h3 {
	font-family: arial;
}

.list_l1 {
	font-size: 150%;
}

h1 {
	letter-spacing: 0.5em;
	color: red;
	font-size: 250%;
	text-transform: uppercase;
	text-align: center;
	font-family: "space mono", monospace;
	/*font-family: Copperplate,Copperplate Gothic Light,fantasy;*/
	margin-top: 0;
}

h4 {
	font-size: 130%
}

h5 {
	margin-top: 5px;
	font-size: 80%;
}

.center {
	text-align: center;
}