html {
    background-image: url("images/Background1.jpg");
}

main {
    width: 100%;
    height: inherit;   
    right: 0%;
    top: 0%;

    background-color: rgba(255, 255, 255, 0.7);
}



h1 {
    padding-top: 0%;
    color: rgba(200, 55, 40, 1);
    text-align: center;
    font-family: "Berkshire Swash", cursive;
    font-size: 1100%;
}

.center {
    text-align: center;
    font-size: 150%;
}

.egg {
    width: 50%;
    position: fixed;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
#egg_br {
    bottom: 28%;
    left: 55%;
    animation-name: eggbr;


}
#egg_tl {
    top: 12%;
    left:-35%;
    transition: width 1s;
    animation-name: eggtl;
}

#personsName {
    color: rgb(128, 28, 3);
    animation-name: personsName;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

p {
    margin: 0% 15% 5% 15%;
    padding: 5% 5% 5% 5%;
    border-radius: 40px;

    font-size: 200%;

    background-color: white;

    animation-name: pp;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes pp {
    0% {background-color: rgb(255, 255, 255);}
    50% {background-color: rgb(245, 190, 184);}
    100% {background-color: rgb(255, 255, 255);}
}

@keyframes personsName {
    0% {color: rgb(128, 28, 3)}
    50% {color: rgb(194, 24, 89);}
    100% {color: rgb(128, 28, 3);}
}

  
@keyframes eggbr {
    0% {left: 55%;
        transform: rotate(0deg)}
    10% {left: 55%;
        transform: rotate(0deg)}
    45% {left: 0%;
        transform: rotate(180deg)}
    55% {left: 0%;
        transform: rotate(180deg)}
    100% {left: 55%;
        transform: rotate(0deg)}
}

@keyframes eggtl {
    0% {left: -35%;
        transform: rotate(0deg)}
    10% {left: -35%;
        transform: rotate(0deg)}
    45% {left: 85%;
        transform: rotate(180deg)}
    55% {left: 85%;
        transform: rotate(180deg)}
    100% {left: -35%;
        transform: rotate(0deg)}
}




@media only screen and (min-width: 1000px){
    h1 {
        font-size: 500%;
    }
    p {
        font-size: 150%;
    }
    .egg {
        width: 20%;
    }
    #egg_tl {
        left: 0%;
    }
    @keyframes eggtl {
        0% {left: 0%;
            transform: rotate(0deg)}
        10% {left: 0%;
            transform: rotate(0deg)}
        45% {left: 75%;
            transform: rotate(180deg)}
        55% {left: 75%;
            transform: rotate(180deg)}
        100% {left: 0%;
            transform: rotate(0deg)}
    }
    
}